@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-main: rgb(1, 44, 68);
	--color-secondary: rgb(2, 76, 116);
	--color-tertiary: rgba(5, 146, 223, 0.541);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", "Courier New", Courier, monospace;
}
